# Datos de usuario y configuración generada
filebernic/data/
/tmp/

# Binarios y paquetes
*.muxapp
*.love
*.zip
filebernic/libs/*.so
filebernic/libs/*.so.*

# Juegos y recursos externos (Simulador)
Simulador_SD/

# Archivos del sistema y logs
*.log
.DS_Store
Thumbs.db

# Editores
.vscode/
.idea/


